{% extends 'base.html' %}

{%block title %}
about
{% endblock %}
{% block body %}
<h1>О сайте</h1>
<div class="alert alert-info">
    <h2>Сайт разаботан с помощью Flask</h2>
    <h2>Его цель-анализировать запросы пользователя</h2>
    <h2>На выходе-информация о страницах</h2>
    <h2><center>Основная страница форума (например,крысиного)</center></h2>
    <p><img src="/static/1.jpg" alt="Основная страница форума (например,крысиного)"></p>
    <h2><center>Заходим в одну из тем и копируем ссылку</center></h2>
    <p><img src="/static/2.jpg" alt="Заходим в одну из тем и копируем ссылку"></p>
    <h2><center>Вводим ссылку и название заказа</center></h2>
    <p><img src="/static/3.jpg" alt="Вводим ссылку и название заказа"></p>
    <h2><center>Вы гениальны, мастер!</center></h2>
    <p><img src="/static/glass.jpg" alt="Вы гениальны, мастер!"></p>


</div>
{% endblock %}