{% extends 'base.html' %}

{%block title %}
analise_forum
{% endblock %}

{% block body %}
<h1><center>analise_forum</center></h1>
<h2><center>Привет,зайка! </center></h2>
<h2><center>С помощью этого сайта ты сможешь узнать основную информацию о топиках твоего любимого форума! </center></h2>
<h2><center>О том,как проанализировать крысиный форум и другие,можно узнать во вкладке О проекте </center></h2>

  <p><center><img src="/static/rat.jpg" alt="О том,как проанализировать крысиный форум и другие,можно узнать во вкладке О проекте"></center></p>


{% endblock %}